<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>안산 고속</title>
</head>
<body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-normal"><a class="p-2 text-dark" th:href="/timetable/list">안산 고속</a></h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <!-- 로그인 여부에 따라 링크 표시 -->
            <a class="p-2 text-dark" th:href="/user/signup_view">회원가입</a>
            <a class="p-2 btn btn-outline-primary" th:href="/user/login_view">로그인</a>
        </nav>
    </div>
</body>
</html>
