<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko" style="height: auto;">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=0,maximum-scale=10,user-scalable=yes">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="robots" content="noindex, nofollow">
    <title>안산 고속터미널</title>
</head>
<body data-aos-easing="ease" data-aos-duration="1500" data-aos-delay="0">
	<!-- 상단 시작 { -->
	<div class="all_menu">
		<div class="in">
			<ul>
			  <li>
			  	<a href="#" target="_self">터미널 소개</a>
			  	<ul class="all_2dep">
			  		<li>
			  		   <a href="#" target="_self">터미널 소개</a>
			  		</li>
			  		<li>
			  		   <a href="#" target="_self">운수사 소개</a>
			  		</li>
			  		<li>
			  		   <a href="#" target="_self">편의시설 안내</a>
			  		</li>
			  		<li>
			  		   <a href="#" target="_self">찾아오시는 길</a>
			  		</li>
			  	</ul>
			  </li>
			  <li>
			  	<a href="#" target="_self">이용안내</a>
			  	<ul class="all_2dep">
			  		<li>
			  			<a href="#" target="_self">이용안내</a>
			  		</li>
			  		<li>
			  			<a href="#" target="_self">환불 및 할인안내</a>
			  		</li>
			  	</ul>
			  </li>
			  <li>
			  	<a href="#" target="_self">인터넷예약</a>
			  	<ul class="all_2dep">
			  		<li>
			  		  <a href="#" target="_self">고속버스 예약</a>
			  		</li>
			  		<li>
			  		  <a href="#" target="_self">시외버스 예약</a>
			  		</li>
			  	</ul>
			  </li>
			  <li>
			  	<a href="#" target="_self">커뮤니티</a>
			  	<ul class="all_2dep">
			  		<li>
			  			<a href="#" target="_self">공지사항</a>
			  		</li>
			  		<li>
			  			<a href="#" target="_self">고객소리</a>
			  		</li>
			  		<li>
			  			<a href="#" target="_self">자주하는 질문</a>
			  		</li>
			  	</ul>
			  </li>
			</ul>
			
			<button>
				<img src="" alt="메인화면">
			</button>
		</div>
	</div>
	<!-- 화물 접수 팝업 -->
    <div id="hd" style="z-index: 1000;">
        <div id="skip_to_container">
        	<a th:href="#container">메인 바로가기</a>
        </div>
    </div>
    <!-- 팝업레이어 시작 {-->
    <div id="hd_pop">
    	<h2>팝업레이어 알림</h2>
    	<span class="sound_only">파업레이어 알림이 없습니다.</span>
    </div>
    <script>
    	$(function(){
    		$(".hd_pops_reject").click(function(){
    			var id = $(this).attr('class').split(' ');
    			var ch_name = id[1];
    			var exp_time = parseInt(id[2]);
    			$("#"+id[1]).css("display","none");
    			set_cookie(ck_name, 1, exp_time, g5_cookie_domain);
    		});
    		$('.hd_pops_close').click(function() {
    			var idb = $(this).attr('class').cplit(' ');
    			$('#'+idb[1]).css('display','none');
    		});
    		$("#hd").css("z-index",1000);
    	});
    </script>
    <!-- 팝업레이어 끝 }-->
	<div id="hd_wrapper">
		<div class="header_in clearfix">
			<nav id="gnb" class="gnbs">
				<h2 class="hide">메인메뉴</h2>
				<ul class="gnb_menu clearfix">
					<li>
						<a th:href="#" target="_self">터미널소개</a>
						<ul>
							<li>
								<a th:href="#" target="_self">터미널소개</a>
							</li>
							<li>
								<a th:href="#" target="_self">운수사소개</a>
							</li>
							<li>
								<a th:href="#" target="_self">편의시설 안내</a>
							</li>
							<li>
								<a th:href="#" target="_self">찾아오시는 길</a>
							</li>
						</ul>
					</li>
					<li>
						<a th:href="#" target="_self">이용안내</a>
						<ul class="gnb_2dfep" style="display: none;">
							<li>
								<a th:href="#" target="_self">이용안내</a>
							</li>
							<li>
								<a th:href="#" target="_self">환불 및 할인안내</a>
							</li>
						</ul>
					</li>
					<li>
						<a th:href="#" target="_self">인터넷예약</a>
						<ul class="gnb_2dfep" style="display: none;">
							<li>
								<a th:href="#" target="_self">고스버스 예약</a>
							</li>
							<li>
								<a th:href="#" target="_self">시외버스 예약</a>
							</li>
						</ul>
					</li>
					<li>
						<a th:href="#" target="_self">인터넷예약</a>
						<ul class="gnb_2dfep" style="display: none;">
							<li>
								<a th:href="#" target="_self">공지사항</a>
							</li>
							<li>
								<a th:href="#" target="_self">고객의 소리</a>
							</li>
							<li>
								<a th:href="#" target="_self">자주하는 질문</a>
							</li>
						</ul>
					</li>
				</ul>
			</nav>
			<div class="r_ui clearfix">
				<div class="location_sel">
					<a th:href="#" class="location">
						<span class="txt en">LOCATION</span>
					</a>
				</div>
			</div>
			<div class="lang_sel">
				<a th:href="#">
					<span class="txt en">ENGLISH</span>
				</a>
			</div>
		</div>
		<a href="#" title="사이트맵 메뉴 열기" class="btn_all_menu">
			<p class="sound_only">사이트맵 메뉴 열기</p>
			<span class="bar_fst"></span>
			<span class="bar_snd"></span>
			<span class="bar_trd"></span>
		</a>
	</div>
    <!-- 상단 끝 } -->    
</body>
</html>
