<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<meta charset="UTF-8">
<meta name="viewport" content="width=device=width, initial-scale=1.0">

	<script src='https://kit.fontawesome.com/a076d05399.js'></script>

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<header>
	<div class="header_wrap">
		<div class="header_top_inner">
			<div class="menu_topwrap">
				<ul>
					<th:if test="${session.user != null}" id="logoutLink">
						<a th:href="@{/user/logout}" class="logout" style="cursor:pointer;">로그아웃</a>
						<a th:href="@{/user/mypage}" class="mypage" style="cursor:pointer;">마이페이지</a>
					</th:if>
					<th:if test="${session.user == null}" id="loginLink">
						<a th:href="@{/user/login}" class="login">로그인</a>
					</th:if>
				</ul>
			</div>
		</div>
	</div>
	<div class="header_bottom_inner">
		<div class="header_bottom_menu">
			<div class="menu_wrap_Left">
				<img alt="" src="/src/main/resources/static/images/index/index_2.png" style="width: 200px; padding-top: 18px;" OnClick="location.href = '/ '" style="cursor:pointer;">
			</div>
			
			<div class="menu_wrap">
				<div class="menu1" OnClick="location.href = '$@{reservation/reservationMain}'" style="cursor:pointer;">버스예약</div>
				
			</div>

			<div class="menu_wrap_Right">
				<div class="r1">
					<i class="fas fa-comment-dots" style="font-size: 30px" onclick="window.open('/chat2','아론',width='470, height=800');"></i>
				</div>
				
				<div class="r1">
					<i class="material-icons" onclick="location.href='/mypage/main'" style="font-size:33px; padding-top: 20px; cursor:pointer;">person_pin</i>
				</div>
				
				<div class="r1 tooltip1">
					<i class="fas fa-search" id="sbtn" style='font-size:28px; padding-left:3px;'></i>
					<div class="tooltiptext1">
						<div class="search_container">
							<form action="/indexSearch" id="frm2">
								<input class="search_input" type="text" placeholder="Search" name="search">
								<i class="fas fa-search" id="ssbtn"></i>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<script>
		//Replace condition with JavaScript conditions if needed
		document.querySelector('#sbtn').addEventListener('click', function() {
			document.querySelector('.tooltiptext1').style.display = 'inline-block';
		});
		
		document.querySelector('#ssbtn').addEventListener('click', function() {
			document.querySelector('frm2').submit();
		});
		
		document.querySelector('.mp').addEventListener('click', function() {
			alert('로그인 해주세요.');
			location.href = "/user/login";
		})
	</script>
	
</header>
</html>