<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<meta name="viewport" content="width=deivce=width, inital-scale=1.0">

<header>
<div class="main-container">
	<div class="title-container">
		<a th:href="@{/}">Every Bus</a>
		<div class="loginInfo" id="loginStatus">
			<div th:if="{session.user != null}" id="loginLink">
				<label class="loginUser">[[${session.user.userName}]] 님</label>
			</div>
			<div>
				<a th:href="@{/user/logout}" class="logout">로그아웃</a>
				<a th:href="@{/user/mypage}" class="mypage">마이페이지</a>
			</div>
			<div th:if="${session.user == null}" id="loginLink">
				<a th:href="@{user/login}" class="loigin">로그인</a>
			</div>
		</div>
	</div>
	
	<div class="search-container">
		<form th:action="@{/bus/busList}" method="get">
			<input type="text" id="searchInput" name="searchKeyword" placeholder="키워드를 입력하세요.">
			<button id="searchBtn" type="submit">검색</button>
		</form>
	</div>
</div>
</header>
</html>